{% extends "base.html" %}
{% load static %}

{% block title %}New Post — Faves{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<link rel="stylesheet" href="{% static 'posts/css/post_form.css' %}" />
{% endblock %}

{% block content %}
{% include "posts/post_form/_card.html" %}
{% endblock %}

{% block extra_js %}
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="{% static 'posts/js/post_form.js' %}"></script>
{% endblock %}