{% extends "base.html" %}
{% load static %}
{% block title %}{{ profile_user.username }} — Faves{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<link rel="stylesheet" href="{% static 'posts/css/profile.css' %}" />
{% endblock %}

{% block content %}
{% url 'profile' profile_user.username as profile_url %}
{% include "posts/profile/_profile_card.html" %}
{% include "posts/profile/_rating_modal.html" %}
{% include "posts/profile/_comment_modal.html" %}
{% endblock %}

{% block extra_js %}
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="{% static 'posts/js/profile.js' %}?v=2026-04-23"></script>
{% endblock %}
